<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos home</title>
</head>
<body>
    <div id="homeProductListContainer">
        <h1>Lista de Productos</h1>
        <ul>
            {{#each products}}
                <li>{{title}} - {{description}} - {{price}}</li>
            {{/each}}
        </ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>

    <script>
        const productList = document.getElementById('productList');
    </script>
</body>
</html>
